/*
==========================
		Nav Bar
==========================
*/
 

.nav li {
	display: inline;
	border-right: 2px solid white;
	padding: .426em 12px .308em;
	width:auto;
	font-size: 1.3em;
	font-weight: 700;
	margin: auto 0;
	max-width: 975px;
}
.nav li > a {
	text-decoration: none;
	color: white;
}
.nav > ul{
	background-color: black;
	padding: 10px;
}
.Welcome{
	background-color: lightgrey;
	padding: 20px;
	font-size: 20px;
	color: darkgray;
}
.friday{
	float: right;
}

.signin:hover{
	border-bottom: 2px solid blue;
}
.home:hover{
	border-bottom: 2px solid pink;
}
.news:hover{
	border-bottom: 2px solid yellow;
}
.sport:hover{
	border-bottom: 2px solid red;
}
.weather:hover{
	border-bottom: 2px solid orange;
}
.shop:hover{
	border-bottom: 2px solid purple;
}
.earth:hover,.travel:hover,.capital:hover,.more:hover{
	border-bottom: 2px solid white;
}
/*
===================
	Main header
===================
*/

img{
	width: 100%;
	padding: 15px;
}

.maintitle{
	position: absolute;
	color: white;
	bottom: 30px;
	left: 40px;
}
.row1title{
	position: absolute;
	color: white;
	bottom: 20px;
	width: 80%;
	right: 30px;
	font-size: 15px;
	padding: 5px;
}
.row2title{
	position: absolute;
	color: white;
	top: 90px;
	right: 25px;
	font-size: 14px;
	padding:5px;
}
.row22title{
	position: absolute;
	color: white;
	top: 90px;
	left: 30px;
	font-size: 14px;
	padding:5px;
}
